
<h1>Profile</h1>
<br>



<img src="https://pbs.twimg.com/profile_images/3297349726/ce25977e855448bb5fd0146ebae8c0ba.jpeg" alt="Mr. Gates" class="profile_picture"><br>

<br><br>

<%= @user.name %><br>
<%= @user.email %><br>
<br>
<div class="text"> Active user in the worlds most advanced image hosting site available.<br> I love to spend my time discussing the next big "thing" with the #Cool_kids crew.<br> On my off days I will ride around my Ferrari. Happy Image Uploading!</div><br>

<a href="/pictures/new">New Picture</a> |

<%= link_to 'Home', pictures_path %>

