
<h1>Profile</h1>
<br>



<img src="http://i.guim.co.uk/static/w-620/h--/q-95/sys-images/Media/Pix/pictures/2006/06/21/GatesBillGetty1.jpg" alt="Mr. Gates"><br>
<%= @user.name %><br>
<%= @user.email %><br>

<div> Active user in the worlds most advanced image hosting site available.<br> I love to spend my time discussing the next big "thing" with the #Cool_kids crew.<br> On my off days I will ride around my Ferrari. Happy Image Uploading!</div><br>

<%= @user.created_at %><br>

<div><h2>Upload History</h2>
<a href="/pictures/2">Show</a><br></div>

<a href="/pictures/new">New Picture</a>

<%= link_to 'Home', pictures_path %>

