body { background-color: white; color: black;
}


body, p, ol, ul, td {
  font-family: Avenir;
  font-size:   20px;
  line-height: 30px;
  margin: 40px 0px; 
  padding: 0px;
  text-align:center;
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

#container {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
}

ul:first-child  {
      margin-top: 0
}

div.item {
  text-align: center;
  padding: 20px ;
}

div.action-overlay {
  background-color: white;
  opacity: 0.5;
/*  position: relative;*/
  top: -110px;
  margin: 0 auto;
  width: 90%;
  display: none;
}

div.action-overlay a {
      color: black;
      opacity: 1.0
}

a { color: #fff; }
a:visited { color: #fff; }
a:hover { color: #fff; }

.items {
  position: relative;
  border: solid red;
}

img {
    width: 640px;
    height: 350px;
}

ul#sort-by li {
  display: inline;
  padding: 30px;
  font-size: 20px;
  text-transform: uppercase;
  list-style-type: none;
} 

#sort-by a {
    color: black;
}
a.footer {
    color: black;
}

.options {
  position: absolute;
  bottom: 0px;
  color: white;
}


.item {
    padding: 0px;
}

li.options div {
 display: inline-block;
 margin-bottom: 60px;
 padding: 12px;
 color: white;
}

div.field, div.actions {
 margin-bottom: 10px;
}

#notice {
  color: purple;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul { 
  list-style-type: none
}
